{% extends "base.hbs" %}
{% block container %}


    <div class="block_header">
        Aboute me <b>{{current_user}}</b>
    </div>
    
    <div class="block_content">
        {% set aboute = _sql("SELECT * FROM vo_user WHERE login = '{}';".format(current_user.decode("utf-8")))[0]%}
        <table>
            <tr><td>Id</td>         <td>{{aboute['id']}}</td></tr>
            <tr><td>Login</td>      <td>{{aboute['login']}}</td></tr>
            <tr><td>Name</td>       <td>{{aboute['name']}}</td></tr>
            <tr><td>Email</td>      <td>{{aboute['email']}}</td></tr>
            <tr><td>Service</td>    <td>{{aboute['service']}}</td></tr>
            <tr><td>Date joined</td>    <td>{{aboute['date_joined']}}</td></tr>
            <tr><td>Last login</td  ><td>{{aboute['last_login']}}</td></tr>
            <tr><td>is staff</td>   <td>{{aboute['is_staff']}}</td></tr>
            <tr><td>is active</td>  <td>{{aboute['is_active']}}</td></tr>
            <tr><td>is superuser</td>   <td>{{aboute['is_superuser']}}</td></tr>
        </table>
    </div>

    <!-- ==================== Stations ====================  -->
   
    <div class="block_header">
        My stations <a href="/admin/add/station/">+</a>
    </div>
    {% set my_stations = _sql("SELECT * FROM bolidozor_station WHERE owner = %s;" %(aboute['id']))%}
    <div class="block_content">
        <table><tr style="text-align: center; font-size: x-small; top: -5px;"><td>id</td><td>Name</td><td>Identificator</td><td>Status</td><td>Observatory id</td><td>Web</td><td>HW version</td><td>Comment</td></tr>
        {% for val in my_stations %}
            <tr>
            <td>{{val['id']}}</td>
            <td>{{val['name']}}</td>
            <td>{{val['namesimple']}}</td>
            <td>{{val['status']}}</td>
            <td>{{val['observatory']}}</td>
            <td>{{val['web']}}</td>
            <td>{{val['hardware']}}</td>
            <td>{{val['comment']}}</td>

            </tr>
        {% end %}
        </table>

    </div>
    
    <div class="block_header">
        All stations
    </div>
    {% if aboute['is_staff'] == 1%}
        {% set all_stations = _sql("SELECT id, name, namesimple, status, observatory, web, owner, hardware, comment FROM MLABvo.bolidozor_station;")%}
        <div class="block_content">
        <table><tr style="text-align: center; font-size: x-small; top: -5px;"><td>id</td><td>Name</td><td>Identificator</td><td>Status</td><td>Observatory id</td><td>Web</td><td>owner</td><td>HW version</td><td>Comment</td></tr>
            {% for val in all_stations %}
                <tr>
                <td>{{val['id']}}</td>
                <td>{{val['name']}}</td>
                <td>{{val['namesimple']}}</td>
                <td>{{val['status']}}</td>
                <td>{{val['observatory']}}</td>
                <td>{{val['web']}}</td>
                <td>{{val['owner']}}</td>
                <td>{{val['hardware']}}</td>
                <td>{{val['comment']}}</td>

                </tr>
            {% end %}
        </table>

        </div>
    {% else %}
        {% set all_stations = _sql("SELECT id, name, namesimple, status, observatory, web, owner, hardware, comment FROM MLABvo.bolidozor_station;")%}
        <div class="block_content">
        <table><tr><td>id</td><td>Name</td><td>Identificator</td><td>Status</td><td>Observatory id</td><td>Web</td><td>owner</td><td>HW version</td><td>Comment</td></tr>
            {% for val in all_stations %}
                <tr>
                <td>{{val['id']}}</td>
                <td>{{val['name']}}</td>
                <td>{{val['namesimple']}}</td>
                <td>{{val['status']}}</td>
                <td>{{val['observatory']}}</td>
                <td>{{val['web']}}</td>
                <td>{{val['owner']}}</td>
                <td>{{val['hardware']}}</td>
                <td>{{val['comment']}}</td>

                </tr>
            {% end %}
        </table>

        </div>
    {% end %}

    <!-- ==================== OBSERVATORIES ====================  -->
   
    <div class="block_header">
        My observatories <a href="/admin/add/observatory/">+</a>
    </div>
    {% set my_observatories = _sql("SELECT id, name, namesimple, lat, lon, alt, www, comment FROM MLABvo.bolidozor_observatory WHERE owner = %s;" %(aboute['id']))%}
    <div class="block_content">
        <table><tr><td>id</td><td>Name</td><td>Identificator</td><td>Lat</td><td>lon</td><td>alt</td><td>Web</td><td>Commet</td></tr>
            {% for val in my_observatories %}
                <tr>
                <td>{{val['id']}}</td>
                <td>{{val['name']}}</td>
                <td>{{val['namesimple']}}</td>
                <td>{{val['lat']}}</td>
                <td>{{val['lon']}}</td>
                <td>{{val['alt']}}</td>
                <td>{{val['www']}}</td>
                <td>{{val['comment']}}</td>

                </tr>
            {% end %}
        </table>

    </div>

    <div class="block_header">
        All observatories
    </div>
    {% set all_observatories = _sql("SELECT id, name, namesimple, lat, lon, alt, owner, www, comment FROM MLABvo.bolidozor_observatory;")%} 
    {% if aboute['is_staff'] == 1%}
        <div class="block_content">
            <table><tr><td>id</td><td>Name</td><td>Identificator</td><td>Lat</td><td>lon</td><td>alt</td><td>Owner</td><td>Web</td><td>Commet</td></tr>
                {% for val in all_observatories %}
                    <tr>
                    <td>{{val['id']}}</td>
                    <td>{{val['name']}}</td>
                    <td>{{val['namesimple']}}</td>
                    <td>{{val['lat']}}</td>
                    <td>{{val['lon']}}</td>
                    <td>{{val['alt']}}</td>
                    <td>{{val['owner']}}</td>
                    <td>{{val['www']}}</td>
                    <td>{{val['comment']}}</td>

                    </tr>
                {% end %}
            </table>
        </div>
    {% else %}
        <div class="block_content">
            <table><tr><td>id</td><td>Name</td><td>Identificator</td><td>Lat</td><td>lon</td><td>alt</td><td>Owner</td><td>Web</td><td>Commet</td></tr>
                {% for val in all_observatories %}
                    <tr>
                    <td>{{val['id']}}</td>
                    <td>{{val['name']}}</td>
                    <td>{{val['namesimple']}}</td>
                    <td>{{val['lat']}}</td>
                    <td>{{val['lon']}}</td>
                    <td>{{val['alt']}}</td>
                    <td>{{val['owner']}}</td>
                    <td>{{val['www']}}</td>
                    <td>{{val['comment']}}</td>

                    </tr>
                {% end %}
            </table>
        </div>
    {% end %}










    <!-- ==================== Users ====================  -->

    <div class="block_header">
        Users
    </div>
    {% set all_users = _sql("SELECT id, login, name, email, service, date_joined, last_login, is_staff, is_active, is_superuser FROM MLABvo.vo_user;")%} 
    {% if aboute['is_staff'] == 1%}
        <div class="block_content">
            <table><tr><td>id</td><td>login</td><td>Name</td><td>Email</td><td>Service</td><td>Joined</td><td>Last</td><td>staff</td><td>active</td><td>sudo</td></tr>
                {% for val in all_users %}
                    <tr>
                    <td>{{val['id']}}</td>
                    <td>{{val['login']}}</td>
                    <td>{{val['name']}}</td>
                    <td>{{val['email']}}</td>
                    <td>{{val['service']}}</td>
                    <td>{{val['date_joined']}}</td>
                    <td>{{val['last_login']}}</td>
                    <td>{{val['is_staff']}}</td>
                    <td>{{val['is_active']}}</td>
                    <td>{{val['is_superuser']}}</td>


                    </tr>
                {% end %}
            </table>
        </div>
    {% else %}
        <div class="block_content">
            <table><tr><td>id</td><td>Name</td><td>Email</td><td>Joined</td></tr>
                {% for val in all_users %}
                    <tr>
                    <td>{{val['id']}}</td>
                    <td>{{val['login']}}</td>
                    <td>{{val['name']}}</td>
                    <td>{{val['email']}}/td>

                    </tr>
                {% end %}
            </table>
        </div>
    {% end %}

{% end %}
