{% extends "base.hbs" %}
{% block container %}


    <div class="block_header">
        New station <b>{{current_user}}</b>
    </div>
    
    <div class="block_content">
        <form action="/admin/add/station" method="post">
        {% raw xsrf_form_html() %}
        <table> 
            <tr><td>id</td>             <td>Automatickly</td></tr>
            <tr><td>Name</td>           <td><input  name="name" type="text"></input></td></tr>
            <tr><td>Identificator</td>  <td><input  name="namesimple" type="text"></input></td></tr>
            <tr><td>Status</td>         <td>Automatickly</td></tr>
            {#<tr><td>Observatory (id)</td><td><input name="observatory" type="number"></input></td></tr>#}
            <tr><td>Observatory</td><td> <select name="observatory" >
                                        {% for obs in parent.obs %}
                                            <option value="{{obs['id']}}">{{obs['name']}}</option>
                                        {% end %}
                                        </select></td> </tr>
            <tr><td>web</td>            <td><input  name="web" type="number" value="1"></input></td></tr>
            {#<tr><td>Owner (id)</td>     <td><input  name="owner" type="number" disabled value="{{parent.me['id']}}"></input></td></tr>#}
            <tr><td>Owner</td><td> <select name="owner" >
                                        {% for obs in parent.owners %}
                                            <option value="{{obs['id']}}">{{obs['name']}}</option>
                                        {% end %}
                                        </select></td> </tr>
            <tr><td>Hardware version</td><td><input name="hardware" type="text" value="RMDSxxx"></input></td></tr>
            <tr><td>Comment</td>        <td><input  name="comment" type="text"></input></td></tr>
        </table>
        <input type="submit" value="Submit">
        </form>
        
    </div>


{% end %}
