{% import datetime %}
{% import math %}
{% extends "base.hbs" %}
{% block meta %}
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/MB.css">
    <link type="text/css" rel="stylesheet" href="http://space.astro.cz/bolidozor/support/js9browser/js9support.css">
    <link type="text/css" rel="stylesheet" href="http://space.astro.cz/bolidozor/support/js9browser/js9.css">
    <script type="text/javascript" src="http://space.astro.cz/bolidozor/support/js9browser/js9support.min.js"></script>
    <script type="text/javascript" src="http://js9.si.edu/js9/js9.min.js"></script>
    <script type="text/javascript" src="http://js9.si.edu/js9/js9plugins.js"></script>
    <script type="text/javascript">
        function Open(args) {
            JS9.Load.apply(this, arguments)
            document.getElementById("window").style.display = 'block';
        }
        function Close() {
            document.getElementById("window").style.display = 'none';
        }

        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
            if (results==null){
               return null;
            }
            else{
               return decodeURI(results[1]) || 0;
            }
        }

    </script>
{% end %}
{% block container %}
    <div class="parameters">
        <p>Výsledky tohoto hledání budou 120s okolo zadaného času.</p>
        <p>Requested data will be 120s around entered time.</p>
        <div class="form-control">
            <input id="date" type="date">
            <input id="time" type="time"> UTC
            <input id="btn" type="button" name="send" value="Update" onclick="location.href = '/around?date='+$('#date').val()+'&time='+$('#time').val();">
        </div>

    </div>
        {% if not data %}
            <div class="parameters" id="error">
            Error: Nejdrive vyberte datum a cas.
            </div>
        {% elif len(data) == 0 %} 
            <div class="parameters" id="error">
            Error: 0 výsledků ... Zkus jiný měsíc
            </div>
        {% else %} 
            <div class="parameters">
            Rows: {{len(data)}}
            </div>
        
        <table style="width: 100%; padding: 10px;">
                <tr>
                    <th>Met id</th>
                    <th>Obstime</th>
                    <th>Delta</th>
                    <th>Station</th>
                    <th>peak</th>
                    <th>mag</th>
                    <th>duration</th>
                    <th>filename</th>
                </tr>
            {% for event in data %}
            {% try %}
                <tr>
                    <td><span class="eventCell">{{event['id']}}</span></td>
                    <td><span class="eventCell">{{event['obstime']}}</span></td>
                    <td><span class="eventCell"> &#916 {{abs(event['obstime'] - target.naive).seconds}}s</span></td>
                    <td><span class="eventCell">{{event['station_name'][:15]}}</span></td>
                    <td><span class="eventCell">{{float(event['peak_f'])}}</span></td>
                    <td><span class="eventCell">{{float(event['mag'])}}</span></td>
                    <td><span class="eventCell">{{event['duration']}}</span></td>

    <td><span class="eventCell">  <a href="http://meteor1.astrozor.cz/f.png?http://space.astro.cz{{event['path'][8:].replace("snapshot","meteors")}}/{{event['filename_original']}}"><img src="/prw.png" style="max-width: 20px;"></a>                                      
    <a href="http://space.astro.cz/bolidozor/support/js9browser/#{{event['path'][8:].replace("snapshot","meteors")}}/{{event['filename_original']}}"><img src="/sun.png" style="max-width: 20px;"></a>
    <a href="javascript:Open('http://space.astro.cz{{event['path'][8:].replace("snapshot","raw")}}/{{event['filename_original']}}', {colormap:'b'});"> <img src="/open.png" style="max-width: 20px;"></img>

    </a>
    </td>
                  


                </tr>
            {% except %}
                <td> Err </td><td></td><td></td><td></td><td></td><td></td> </tr>
            {% end %}
            {% end %}

        
        </table>
        {% end %}

    <div id="window">
        <div style="text-align: left;"><a href="javascript:Close();"><img src="/ic_clear_black_18dp_1x.png"></a></div>
        <div class="JS9Menubar"></div>
        <div class="JS9"></div>
    </div>

    <div id="tooltip" style="position: fixed; height: 4em; width: 150px; bottom: 25px; right: 25px;">
        <img src="/prw.png" style="max-width: 20px;"> htfits<br>
        <img src="/sun.png" style="max-width: 20px;"> space.astro.cz<br>
        <img src="/open.png" style="max-width: 20px;"></img> JS9 browser <br>
    </div>


    <script type="text/javascript">
        
      $('#date').val($.urlParam('date'));
      $('#time').val($.urlParam('time'));

    </script>
{% end %}

