{% import datetime %}
{% import math %}
{% extends "base.hbs" %}
{% block meta %}
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/MB.css">
    <link type="text/css" rel="stylesheet" href="http://space.astro.cz/bolidozor/support/js9browser/js9support.css">
    <link type="text/css" rel="stylesheet" href="http://space.astro.cz/bolidozor/support/js9browser/js9.css">
    <script type="text/javascript" src="http://space.astro.cz/bolidozor/support/js9browser/js9support.min.js"></script>
    <script type="text/javascript" src="http://js9.si.edu/js9/js9.min.js"></script>
    <script type="text/javascript" src="http://js9.si.edu/js9/js9plugins.js"></script>
    <script type="text/javascript">
        function Open(args) {
            JS9.Load.apply(this, arguments)
            document.getElementById("window").style.display = 'block';
        }
        function Close() {
            document.getElementById("window").style.display = 'none';
        }
    </script>
{% end %}
{% block container %}
    <div class="parameters">
        <form style="margin: 0px; padding: 0px; display: in-line; max-width: 90%;">
            Month: <input type="month" name="month" value="{{parent.get_argument('month', str(datetime.datetime.utcnow().strftime('%Y-%m')))}}">
            <input type="submit">
        </form>
    </div>

        {% set event_groups = _sql('''
            SELECT
                min(bolidozor_met_match.id) as id,
                bolidozor_met_match.match_id as match_id,
                min(bolidozor_met.obstime) as obstime
            FROM bolidozor_met_match 
                LEFT JOIN bolidozor_met ON bolidozor_met.id = bolidozor_met_match.met_id
            WHERE (bolidozor_met.obstime BETWEEN '%s' AND '%s')
            GROUP BY bolidozor_met_match.match_id
            ORDER BY min(bolidozor_met.obstime) DESC LIMIT %s OFFSET %s;''' %(range[0], range[1], per_page, per_page*(page-1))) %}<!-- META - 0 id, 1 time, 2 id_station, 3 noise, 4 freq, 5 mag, 6 duration, 7 file , 8 link, 9 met_true, 10 met_false, 11 met_head -->

        {% if len(event_groups) == 0 %} 
            <div class="parameters" id="error">
            Error: 0 výsledků ... Zkus jiný měsíc
            </div>
        {% else %} 
            <div class="parameters">
            Rows: {{len(event_groups)}}
            </div>
        {% end %}
        
        {% for event_group in event_groups %}

            {% set links = _sql("""
                SELECT bolidozor_met_match.match_id, bolidozor_met.obstime, bolidozor_fileindex.id_observer, bolidozor_met.noise, bolidozor_met.peak_f, bolidozor_met.mag, bolidozor_met.duration, bolidozor_observatory.namesimple, bolidozor_station.namesimple, bolidozor_fileindex.filename_original, bolidozor_fileindex.filename FROM bolidozor_met_match 

                INNER JOIN bolidozor_met ON bolidozor_met.id = bolidozor_met_match.met_id
                INNER JOIN bolidozor_fileindex ON bolidozor_fileindex.id = bolidozor_met.file
                INNER JOIN bolidozor_station ON bolidozor_fileindex.id_observer = bolidozor_station.id 
                INNER JOIN bolidozor_observatory ON bolidozor_observatory.id = bolidozor_station.observatory

                WHERE bolidozor_met_match.match_id = """ +str(event_group['match_id'])+";") %}

            
            <div class="event_group" id="{{event_group['match_id']}}">
                <span > <a href="/multibolid/event/{{event_group['match_id'] }}/"><img src="/ic_share_black_18dp_1x.png"> #{{event_group['match_id'] }}</a></span>
                <span class="eventGroupCell">{{event_group['obstime']}} </span>
            </div>
            <table class="eventListTable" id="{{event_group['match_id']}}" style="width:100%">
                <tr style="text-align: center; font-size: x-small; top: -5px;"><td>Date</td><td>Station</td><td>Noise</td><td>Freq</td><td>Mag</td><td>Duration</td><td>Mark</td><td>Link</td></tr>

            {% for event in links %}
            {% try %}
                <tr> <div class="event_list">
                    <td><span class="eventCell"> {{event['obstime']}} &#916 {{abs(event['obstime']-links[0]['obstime']).seconds}}s</span></td>
                    <td><span class="eventCell"> {{event['namesimple']}}</span></td>
                    <td><span class="eventCell"> {{float(event['noise'])}}</span>
                    <td><span class="eventCell"> {{float(event['peak_f'])}}</span></td>
                    <td><span class="eventCell"> {{float(event['mag'])}}</span></td>
                    <td><span class="eventCell"> {{event['duration']}}</span></td>
                    <td><span class="eventCell"> 88% </span></td>
                    {%set space_path = event['filename_original'][0:4] + '/' + event['filename_original'][4:6] + '/' + event['filename_original'][6:8] + '/' + event['filename_original'][8:10]%}

                    <td>
                        <span class="eventCell">
                        <a href="http://meteor1.astrozor.cz/f.png?http://space.astro.cz/bolidozor/{{event['namesimple']}}/{{event['bolidozor_station.namesimple']}}/meteors/{{space_path}}/{{event['filename_original']}}"><img src="/prw.png" style="max-width: 20px;"></a>

                        <a href="http://space.astro.cz/bolidozor/support/js9browser/#/bolidozor/{{event['namesimple']}}/{{event['bolidozor_station.namesimple']}}/meteors/{{space_path}}/{{event['filename_original']}}"><img src="/sun.png" style="max-width: 20px;"></a>
                        <a href="javascript:Open('http://space.astro.cz/bolidozor/{{event['namesimple']}}/{{event['bolidozor_station.namesimple']}}/meteors/{{space_path}}/{{event['filename_original']}}', {colormap:'b'});"> <img src="/open.png" style="max-width: 20px;"></img></a>
                    </span>
                    </td>
                </div></tr>
            {% except %}
                <td> Err </td><td></td><td></td><td></td><td></td><td></td> </tr>
            {% end %}
            {% end %}
        </table>
        {% end %}

    <div id="window">
        <div style="text-align: left;"><a href="javascript:Close();"><img src="/ic_clear_black_18dp_1x.png"></a></div>
        <div class="JS9Menubar"></div>
        <div class="JS9"></div>
    </div>

    <div id="tooltip" style="position: fixed; height: 4em; width: 150px; bottom: 25px; right: 25px;">
        <img src="/prw.png" style="max-width: 20px;"> htfits<br>
        <img src="/sun.png" style="max-width: 20px;"> space.astro.cz<br>
        <img src="/open.png" style="max-width: 20px;"></img> JS9 browser <br>
    </div>
{% end %}

